#
# Copyright (c) 2024 Markware, LTDA., all rights reserved.
# -- Markware LTDA - www.markware.com.br
# -- contato@markware.com.br | (11)91727-7726
#
*
!Dockerfile
!main.py
!source_firebird
!setup.py
!secrets
